In [38]:
# Import dependencies
import pandas as pd
import datetime
import numpy as np

In [39]:
# Load file and Dataframe
ff = pd.read_excel("Working_Folder/Data/FEDFUNDS.xls", skiprows=10)
ff

    observation_date  FEDFUNDS
0         1954-07-01      0.80
1         1954-08-01      1.22
2         1954-09-01      1.07
3         1954-10-01      0.85
4         1954-11-01      0.83
..               ...       ...
810       2022-01-01      0.08
811       2022-02-01      0.08
812       2022-03-01      0.20
813       2022-04-01      0.33
814       2022-05-01      0.77

[815 rows x 2 columns]

In [40]:
# Check dtypes
print(ff.dtypes)

observation_date    datetime64[ns]
FEDFUNDS                   float64
dtype: object

In [41]:
# Separate observation date to YEAR and MONTH
ff['Month'] = ff['observation_date'].dt.month
ff['Year'] = ff['observation_date'].dt.year

# Drop observation_date column
ff = ff.drop(columns=['observation_date'])

# Reorganize columns
ff = ff[['Year','Month','FEDFUNDS']]
ff

     Year  Month  FEDFUNDS
0    1954      7      0.80
1    1954      8      1.22
2    1954      9      1.07
3    1954     10      0.85
4    1954     11      0.83
..    ...    ...       ...
810  2022      1      0.08
811  2022      2      0.08
812  2022      3      0.20
813  2022      4      0.33
814  2022      5      0.77

[815 rows x 3 columns]

In [42]:
# Check dtypes
print(ff.dtypes)

Year          int64
Month         int64
FEDFUNDS    float64
dtype: object

In [44]:
# Export to CSV
# ff.to_csv('Clean_Data/clean_fedfunds.csv', index=False)